<div class="box">
    <table border="1" cellSpacing="0">
        <th colspan="5">Pilotos cadastrados</th>
        <tr class="tableTitle">
            <td><b>Nome</b></td>
            <td><b>País</b></td>
            <td><b>Equipe</b></td>
            <td><b>Ações</b></td>
        </tr>
        <tr *ngFor="let piloto of listaExibida; let i = index">
            <td>{{piloto.name}}</td>
            <td>{{piloto.name_pais}}</td>
            <td>{{piloto.name_equipe}}</td>
            <td class="acoes"><button (click)="clickEditar(piloto)" >Editar</button><button (click)="clickDeletar(piloto)">Deletar</button></td>
        </tr>
    </table>
    <br>
</div>
