<div class="box">
  <br />
  <label for="name">Nome: </label>
  <input
    type="text"
    placeholder="Digite seu nome"
    [(ngModel)]="user.name"
    #inputName
    required
  />
  <button (click)="filtrarNome()">Filtrar</button>
  <br /><br />
  <label for="email">Email: </label>
  <input
    type="email"
    placeholder="exemplo@exemplo.com"
    [(ngModel)]="user.email"
    #inputEmail
    required
  />
  <br /><br />
  <label for="senha">Senha: </label>
  <input
    type="password"
    placeholder="!Exemplo123"
    [(ngModel)]="user.password"
    #inputSenha
    required
  />
  <br /><br />
  <span>Permissão: </span>
  <input
    type="radio"
    id="admin"
    name="permissao"
    [(ngModel)]="user.roles"
    value="ADMIN,USER"
    #inputAdmin
  />
  <label for="admin">ADMIN</label>
  <input
    type="radio"
    id="user"
    name="permissao"
    [(ngModel)]="user.roles"
    value="USER"
    #inputUser
    checked
  />
  <label for="user">USER</label>
  <br /><br />
  <div class="salvar">
    <button (click)="insertUser()">Salvar</button>
  </div>
  <br />
  <div></div>
</div>
