.boxCadastro {
    display: flex;
    justify-content: center;
}

.cadastro {
    width: 50%;
}

.boxLista {
    display: flex;
    justify-content: center;
}

.lista {
    width: 50%;
}

.boxHeader {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    padding: 10px;
    margin: none;
    background-color: #111;
    color: #f1f1f1;
    border-radius: 15px;
    width: 50%;
}